*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   position: relative;

   background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%
   );
}
.headbg {
   text-align: center;
   width: 42%;
   margin: 10px auto;
   background: linear-gradient(
      -45deg,
      rgba(255, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%
   );
   border: none;
   border-radius: 10px;
}
h1 {
   text-align: center;
   font-weight: 700;
   margin-top: 20px;
   background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 1) 50%,
      rgba(255, 0, 0, 1) 50%
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
form {
   position: fixed;
   bottom: 250px;
   right: 30%;
   left: 30%;
   border-radius: 8px;

   color: #000;
   background: linear-gradient(
      -120deg,
      rgba(255, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%
   );
}
.input {
   box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
   border: 2px solid rgb(104, 104, 104);
   border-radius: 8px;
}

.items {
   position: fixed;
   top: 50px;
   right: 30%;
   left: 30%;
   border-radius: 8px;
}

.form-group {
   margin-bottom: 0;
}

.completedTodo {
   text-decoration: line-through;
}
