*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   position: relative;

   background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%
   );
}
h1 {
   text-align: center;
   margin-top: 20px;
   color: aliceblue;
   background: linear-gradient(
      50deg,
      rgba(255, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%
   );
}
form {
   position: fixed;
   bottom: 250px;
   right: 30%;
   left: 30%;
   border-radius: 8px;

   color: #000;
   background: linear-gradient(
      -120deg,
      rgba(255, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%
   );
}
.input {
   box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
   border: 2px solid rgb(104, 104, 104);
   border-radius: 8px;
}

.items {
   position: fixed;
   top: 50px;
   right: 30%;
   left: 30%;
   border-radius: 8px;
}

.form-group {
   margin-bottom: 0;
}

.completedTodo {
   text-decoration: line-through;
}
